<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.entity.Student">
        <id column="primaryId" property="primaryId" />
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="grade" property="grade" />
        <result column="major" property="major" />
        <result column="supervisorId" property="supervisorId" />
        <result column="labId" property="labId" />
        <result column="seatId" property="seatId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        primaryId, id, name, gender, grade, major, supervisorId, labId, seatId
    </sql>
    <select id="pageC" resultType="com.wms.entity.Student">
        select * from student
    </select>

    <select id="pageCC" resultType="com.wms.entity.Student">
        select * from student ${ew.customSqlSegment}
    </select>

</mapper>
